/* for overriding some of bootstrap's styles */
:root {
  --main-color: #ffc107;
  --hover-color: #edb100;
}
p,
h2,
h3,
h4,
h5 {
  font-family: "Open Sans", sans-serif;
}

.main-title {
  font-family: "Lobster Two", sans-serif;
  font-weight: bolder;
  text-decoration: var(--main-color) wavy underline;
}

.position-styles {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container-border {
  border: 2px solid var(--main-color);
}

/* button styles */
.button-styles {
  border-radius: 15px;
  border: 2px solid var(--main-color);
  background-color: var(--main-color);
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
}

.button-styles:hover {
  background-color: var(--hover-color);
  border-color: var(--hover-color);
}

.scrollable-div {
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #f9f9f9;
}

/* heights */
.names-div {
  min-width: 430px;
  min-height: 220px;
  max-height: 225px;
}

.recipes-div-height {
  max-height: 425px;
}

/* getting rid of the border on smaller screens + adjusting the margins on the recipe cards*/
@media (max-width: 575px) {
  .container-breakpoint,
  .recipe-container-breakpoint {
    border: none;
    box-shadow: none;
  }
  .names-div {
    min-width: 300px;
  }
}

/* main container tablet and laptop media queries, preventing the container from stretching too wide */
@media (min-width: 575px) and (max-width: 1023px) {
  .container-breakpoint {
    max-width: 65%;
    height: 50%;
    box-shadow: 10px 10px 15px -1px rgba(224, 221, 224, 1);
  }
  .recipe-container-breakpoint {
    max-width: 80%;
    height: 60%;
    box-shadow: 10px 10px 15px -1px rgba(224, 221, 224, 1);
  }
}

/* for desktop screens*/
@media (min-width: 1024px) {
  .container-breakpoint {
    max-width: 600px;
    height: 550px;
    box-shadow: 10px 10px 15px -1px rgba(224, 221, 224, 1);
  }
  .recipe-container-breakpoint {
    max-width: 800px;
    max-height: 640px;
    box-shadow: 10px 10px 15px -1px rgba(224, 221, 224, 1);
  }
  .recipes-div-height {
    max-height: 500px;
  }
}
